---
import type { Page, PaginateFunction } from 'astro'
import { getCollection } from 'astro:content'

import ContentRender from '@components/content-render.astro'
import NavHead from '@components/nav-header.astro'
import Pagination from '@components/pagination.astro'
import type { PostModel } from '@interfaces/post-model'
import BaseLayout from '@layouts/base-layout.astro'
import { getFormatDate } from '@utils/date-helper'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const notes = (await getCollection('notes')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  return paginate(notes, { pageSize: 6 })
}

const { page } = Astro.props
const title = '笔记'
const description = '笔记页面-didmax'
---

<BaseLayout title={title} description={description}>
  <NavHead />
  <main>
    {
      page.data.map((post: PostModel) => (
        <section class="mb-5 rounded-lg border p-5 dark:border-primary-gray">
          <div class="pb-2 text-xs">
            <span class="text-gray-400">{getFormatDate(post.data.date)}</span>
            {post.data.tags?.map((tag: string) => (
              <a class="mx-2" href={'/tags/' + tag}>
                {tag}
              </a>
            ))}
          </div>

          <ContentRender post={post} />
        </section>
      ))
    }
    <section class="flex gap-3 pb-5">
      <Pagination page={page} />
    </section>
  </main>
</BaseLayout>
