---
import ContentRender from '@components/content-render.astro'
import NavHead from '@components/nav-head.astro'
import type { PostModel } from '@interfaces/post-model'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  post: PostModel
  prev: PostModel | undefined
  next: PostModel | undefined
}

export async function getStaticPaths() {
  const posts = await getAllPosts()
  return posts.map((post, index) => ({
    params: { slug: post.data.abbrlink },
    props: { post, prev: posts[index - 1], next: posts[index + 1] },
  }))
}

const { post, prev, next } = Astro.props
---

<BaseLayout title={post.data.title} description={post.data.descriptions ?? ''}>
  <body>
    <NavHead />
    <main class="flex flex-col justify-between">
      <ContentRender post={post} from="post" />

      <div class="mt-5 flex justify-between gap-3 py-2">
        {
          prev ? (
            <a href={prev.data.abbrlink} class="w-[45%] truncate text-left">
              {prev.data.title}
            </a>
          ) : (
            <span />
          )
        }
        {
          next ? (
            <a href={next.data.abbrlink} class="w-[45%] truncate text-right">
              {next.data.title}
            </a>
          ) : (
            <span />
          )
        }
      </div>
    </main>
  </body>
</BaseLayout>
