---
import { linkAttr } from '@constant'

import ContentRender from '@components/content-render.astro'
import NavHead from '@components/nav-header.astro'
import PostPagination from '@components/post-pagination.astro'
import Toc from '@components/toc.astro'
import type { PostModel } from '@interfaces/post-model'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'

interface Props {
  post: PostModel
  prev: PostModel | undefined
  next: PostModel | undefined
}

export async function getStaticPaths() {
  const posts = await getAllPosts()
  return posts.map((post, index) => ({
    params: { slug: post.data[linkAttr] },
    props: { post, prev: posts[index - 1], next: posts[index + 1] },
  }))
}

const { post, prev, next } = Astro.props
---

<BaseLayout 
  title={post.data.title} 
  description={post.data.description ?? ''} 
  cover={post.data.cover}
  type="article"
  publishedTime={post.data.date.toISOString()}
  tags={post.data.tags}
>
  <NavHead />
  <main class="flex flex-col justify-between">
    <div
      data-pagefind-body
      class="dark:border-primary-gray flex-1 overflow-x-hidden rounded-lg border-2 border-gray-200 p-5 max-[768px]:p-2"
    >
      <ContentRender post={post} />
    </div>

    <PostPagination prev={prev} next={next} />
    <Toc />
  </main>
</BaseLayout>
