---
import type { Page, PaginateFunction } from 'astro'
import { getCollection } from 'astro:content'

import NavHead from '@components/nav-head.astro'
import PostList from '@components/post-list.astro'
import type { PostMatter, PostModel } from '@interfaces/post-model'
import BaseLayout from '@layouts/base-layout.astro'
import { getMD, getYear } from '@utils/date-helper'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const blogs = (await getCollection('posts')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

  return paginate(blogs, { pageSize: 12 })
}

const { page } = Astro.props
const title = 'Blogs'
const description = 'blog list page'
---

<BaseLayout title={title} description={description}>
  <NavHead />
  <main>
    <section class="list">
      <PostList posts={page.data} />
    </section>
    <section class="mt-5 flex items-center gap-4 px-5">
      <a href={page.url.prev}>Prev</a>
      <span>{page.currentPage}</span>
      <a href={page.url.next}>Next</a>
    </section>
  </main>
</BaseLayout>
