---
import AvatarImage from '@components/avatar-image.astro'
import ThemeButton from '@components/theme-button.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'
import { formatedTime, formatedYMD, getFormatDate } from '@utils/date-helper'
import { getPostLink } from '@utils/post-link'

const links = [
  { url: '/', title: '首页' },
  { url: '/notes', title: '笔记' },
  { url: '/tags', title: '标签' },
  { url: '/archive', title: '归档' },
]

const latestPost = (await getAllPosts()).slice(0, 8)

const title = 'didmax'
const description = '首页-didmax'
---

<BaseLayout title={title} description={description}>
  <main>
    <section class="flex flex-col items-center justify-center">
      <AvatarImage />
      <div class="px-10 text-center max-[768px]:px-5">
        "我个人的一个秘密是在需要极大快乐和悲伤的公众场合却达不到这种快乐和悲伤应有的水平，因而内心惊恐万状，汗如雨下"
      </div>
    </section>
    <section class="my-10 flex items-center justify-center gap-10 min-[1500px]:my-20">
      {
        links.map((item, index) => (
          <a href={item.url} class={index === 0 ? 'text-gray-500' : 'text-primary'}>
            {item.title}
          </a>
        ))
      }
      <ThemeButton class="absolute right-0" />
    </section>
    <section class="m-auto flex w-[85%] justify-center max-[768px]:w-[95%]">
      <div class="w-[75%] max-[500px]:w-[90%]">
        {
          latestPost.map((post) => (
            <div class="flex justify-between gap-x-3 py-2">
              <span>{formatedYMD(post.data.date)}</span>
              <a class=" truncate" href={getPostLink(post)}>
                {post.data.title}
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</BaseLayout>
