---
import AvatarImage from '@components/avatar-image.astro'
import ThemeButton from '@components/theme-button.astro'
import BaseLayout from '@layouts/base-layout.astro'
import { getAllPosts } from '@utils/all-posts'
import { getFormatDate } from '@utils/date-helper'

const links = [
  { url: '/', title: '首页' },
  { url: '/notes', title: '笔记' },
  { url: '/tags', title: '标签' },
  { url: '/archive', title: '归档' },
]

const latestPost = (await getAllPosts()).slice(0, 3)
---

<BaseLayout title="Yellow" description="The index page of blog, Yellow">
  <main>
    <section class="flex flex-col items-center justify-center">
      <AvatarImage />
      <span class="my-5">Yellow</span>
      <span class="px-10 text-center max-[768px]:px-5">
        "我个人的一个秘密是在需要极大快乐和悲伤的公众场合却达不到这种快乐和悲伤应有的水平，因而内心惊恐万状，汗如雨下"
      </span>
    </section>
    <section class="my-10 flex items-center justify-center gap-10">
      {
        links.map((item, index) => (
          <a href={item.url} class={index === 0 ? 'text-gray-500' : 'text-primary'}>
            {item.title}
          </a>
        ))
      }
      <ThemeButton class="absolute right-0" />
    </section>
    <section class="m-auto w-[75%] max-[768px]:w-[95%]">
      {
        latestPost.map((post) => (
          <div class="mb-2 rounded-lg border p-5 dark:border-[#525252]">
            <h1 class="pb-1">
              <a href={`/posts/${post.data.abbrlink}`}>{post.data.title}</a>
            </h1>
            <div class="text-sm">{post.data.descriptions}</div>
            <div class="pt-1 text-xs">
              <span class="text-gray-400">{getFormatDate(post.data.date)}</span>
              {post.data.tags?.map((tag: string) => (
                <a class="mx-2" href={'/tags/' + tag}>
                  {tag}
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </section>
  </main>
</BaseLayout>
