---
import '@styles/global.less'

import { ViewTransitions } from 'astro:transitions'

import { pwaInfo } from 'virtual:pwa-info'

interface Props {
  title: string
  description: string
  cover?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, cover } = Astro.props
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/pwa_512.png" sizes="192x192" />
  <meta name="generator" content={Astro.generator} />

  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1f1f1f" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff" />
  <meta name="color-scheme" content="light dark" />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(cover ?? '/blog-placeholder.jpg', Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(cover ?? '/blog-placeholder.jpg', Astro.url)} />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet"
  />

  <ViewTransitions />
  {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
</head>
