---
import type { Page, PaginateFunction } from 'astro'
import { getCollection } from 'astro:content'

import ContentRender from '@components/content-render.astro'
import NavHead from '@components/nav-head.astro'
import BaseLayout from '@layouts/base-layout.astro'

interface Props {
  page: Page
}

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
  const notes = await getCollection('notes')
  return paginate(notes, { pageSize: 3 })
}

const { page } = Astro.props
const title = 'Blogs'
const description = 'blog list page'
---

<BaseLayout title={title} description={description}>
  <main>
    <NavHead />
    <ul>
      {page.data.map((post) => <ContentRender post={post} />)}
    </ul>
    <div>
      {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
      {page.currentPage}
      {page.url.next ? <a href={page.url.next}>Next</a> : null}
    </div>
  </main>
</BaseLayout>
